/* the call */

body {
  background: rgb(218, 221, 230);
  background: linear-gradient(
    rgba(218, 221, 230, 1) 0%,
    rgb(105, 129, 180) 80%,
    rgba(92, 115, 164, 1) 100%
  );
  text-align: center;
  margin-right: 200;
}

.wrong {
  background-color: brown;
}
.right {
  background-color: rgb(57, 197, 1);
}
